header {
  position: sticky;
  top: 0;
  background-color: rgb(234, 199, 45);
  font-size: 2.5em;
  font-weight: bold;
  padding: 10px 30px;
  z-index: 999;
}

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 3vw;
}