.note-input {
  display: flex;
  place-items: center;
  border-right: 4px solid gray;
  overflow: hidden;

  > div {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
  }

  .note {
    margin: 20px;
    font-size: 2cqw;
    aspect-ratio: 1;
    width: 80%;
    max-height: fit-content;
  }

  .save {
    width: fit-content;
    padding: 10px 30px;
  }
}
