.noteInput {
  display: flex;
  place-items: center;
  border-right: 4px solid gray;
  overflow: hidden;

  > div {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
  }
}
